<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OuterHeaven</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Icons/Iconsax/css/style.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OuterHeaven.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="font-family: Porter Sans Block; color: white">OuterHeaven</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                             <li class="nav-item">
                                <div class="dropdown">
                                <a class="btn" data-bs-toggle="dropdown">Clothing</a>

                                <ul class="dropdown-menu" style="background-color: black; border-radius: 2rem;">
                                <li><a class="nav-link" asp-area="" asp-page="/Jackets/Jackets" asp-page-handler="Get" style="font-family: Porter Sans Block; color: white">Jackets</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/CoatsHoodies/CoatsHoodies" style="font-family: Porter Sans Block; color: white">Coats & Hoodies</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/TShirtsGolfShirts/TShirtsGolfShirts" style="font-family: Porter Sans Block; color: white">T-Shirts & Golf-Shirts</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Tops/Tops" style="font-family: Porter Sans Block; color: white">Tops</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/DressesSkirts/DressesSkirts" style="font-family: Porter Sans Block; color: white">Dresses & Skirts</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Leggings/Leggings" style="font-family: Porter Sans Block; color: white">Leggings</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/JeansChinos/JeansChinos" style="font-family: Porter Sans Block; color: white">Jeans & Chinos</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/JoggersSweatPants/JoggersSweatPants" style="font-family: Porter Sans Block; color: white">Joggers & Sweatpants</a></li>
                                </ul>
                                </div>
                             </li>
                             <li class="nav-item">
                                <div class="dropdown">
                                <a class="btn" data-bs-toggle="dropdown">Shoes</a>

                                <ul class="dropdown-menu" style="background-color: black; border-radius: 2rem;">
                                <li><a class="nav-link" asp-area="" asp-page="/Sneakers/Sneakers" style="font-family: Porter Sans Block; color: white">Sneakers</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Boots/Boots" style="font-family: Porter Sans Block; color: white">Boots</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Heels/Heels" style="font-family: Porter Sans Block; color: white">Heels</a></li>
                                </ul>
                                </div>
                             </li>
                             <li class="nav-item">
                                <div class="dropdown">
                                <a class="btn" data-bs-toggle="dropdown">Accessories</a>

                                <ul class="dropdown-menu" style="background-color: black; border-radius: 2rem;">
                                <li><a class="nav-link" asp-area="" asp-page="/Sunglasses/Sunglasses" style="font-family: Porter Sans Block; color: white">Sunglasses</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Watches/Watches" style="font-family: Porter Sans Block; color: white">Watches</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Perfume/Perfume" style="font-family: Porter Sans Block; color: white">Perfume</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Bandanas/Bandanas" style="font-family: Porter Sans Block; color: white">Bandanas</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Chains/Chains" style="font-family: Porter Sans Block; color: white">Chains</a></li>
                                <li><a class="nav-link" asp-area="" asp-page="/Hats/Hats" style="font-family: Porter Sans Block; color: white">Hats</a></li>
                                </ul>
                                </div>
                             </li>
                     
                    </ul>
                    <div class="dropdown">
                    <a class="btn" data-bs-toggle="dropdown">Login</a>
                      <ul class="dropdown-menu" style="background-color: black; border-radius: 2rem;">

                        <li>
                        <form method="post" enctype="multipart/form-data" asp-page-handler="Login" >
                        <label style="font-family: Raleway Extra Bold; color: white">Username</label>
                        <br/>
                        <input type="text" name="Username" placeholder="Username" size="24" required minlength="8" style="font-family: Raleway Extra Bold; color: black; border-radius:8px;"/>
                        <br/>
                        <label style="font-family: Raleway Extra Bold; color: white">Password</label>
                        <br/>
                        <input type="password" name="Password" placeholder="Password" size="24" required minlength="6" style="font-family: Raleway Extra Bold; color: black; border-radius:8px;"/>
                        <br/>
                        <button class="service" type="submit" name="Login">
                            Login
                        </button>
                        <br/>
                        <button class="service" type="submit" name="Register">
                            Register
                        </button>                     
                        </form>
                        </li>
                      </ul>
                     </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            </script>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 OuterHeaven. All Rights Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>