@page
@model OuterHeaven.Pages.BadanasModel
@{
    ViewData["Title"] = "Bandana's";
}
<header>
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
    <link rel="stylesheet" href="../css/CategoryItems.css" type="text/css" />
    <link rel="stylesheet" href="../css/CategoryItemButtons.css" type="text/css" />
    <link rel="stylesheet" href="../css/ItemEffects.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>

<div class="Main">

<h1>Bandana's</h1>

<div class="card" name="Bandanas">
        <img src="https://images.pexels.com/photos/2526416/pexels-photo-2526416.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Bandana 1</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="BandanaOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="BandanaOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Midsized 
                </button>
                <button type="submit" name="BandanaOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Large
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                    <i class='bx bxs-share-alt'></i> Share
                </button>
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
</div>
<div class="card" name="Bandanas">
        <img src="https://images.pexels.com/photos/9557108/pexels-photo-9557108.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Bandana 2</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="BandanaOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="BandanaOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Midsized 
                </button>
                <button type="submit" name="BandanaOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Standard 
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                    <i class='bx bxs-share-alt'></i> Share
                </button>
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
</div>
<div class="card" name="Bandanas">
        <img src="https://images.pexels.com/photos/2986301/pexels-photo-2986301.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Bandana 3</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="BandanaOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Small
                </button>
                <button type="submit" name="BandanaOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Midsized 
                </button>
                <button type="submit" name="BandanaOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Large
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                    <i class='bx bxs-share-alt'></i> Share
                </button>
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
</div>
<div class="card" name="Bandanas">
        <img src="https://images.pexels.com/photos/13250384/pexels-photo-13250384.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Bandana 4</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="BandanaOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="BandanaOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Midsized 
                </button>
                <button type="submit" name="BandanaOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Large 
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                    <i class='bx bxs-share-alt'></i> Share
                </button>
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
    
</div>
<div class="card" name="Bandanas">
        <img src="https://images.pexels.com/photos/9902625/pexels-photo-9902625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Bandana 5</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="BandanaOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="BandanaOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Midsized 
                </button>
                <button type="submit" name="BandanaOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Large
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                    <i class='bx bxs-share-alt'></i> Share
                </button>
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
    </div>
</div>





