@page
@model OuterHeaven.Pages.BadanasModel
@{
    ViewData["Title"] = "Bandana's";
}
<header>
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
</header>

<div class="Main">

<h1>Bandana's</h1>

<div class="card" name="Bandanas" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2526416/pexels-photo-2526416.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Bandana 1</h4>
            <p class="ItemDescription">R299.99</p> 
        </div>   
</div>
<div class="card" name="Bandanas" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/9557108/pexels-photo-9557108.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Bandana 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Bandanas" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2986301/pexels-photo-2986301.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Bandana 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Bandanas" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/13250384/pexels-photo-13250384.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Bandana 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Bandanas" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/9902625/pexels-photo-9902625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Bandana 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
</div>





