@page
@model OuterHeaven.Pages.WatchesModel
@{
    ViewData["Title"] = "Watches";
}
<header>
    <link rel="stylesheet" href="~/css/HeadersAndButtons.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/CategoryItems.css" type="text/css" />
    <link rel="stylesheet" href="~/css/CategoryItemButtons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/ItemEffects.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>

<div class="Main">

<h1>Watches</h1>

<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/12936607/pexels-photo-12936607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 1</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Midsized 
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                   Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>   
</div>
<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/9978709/pexels-photo-9978709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 2</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/2078268/pexels-photo-2078268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 3</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/3766113/pexels-photo-3766113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 4</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/2783873/pexels-photo-2783873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 5</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.pexels.com/photos/2494608/pexels-photo-2494608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 6</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.unsplash.com/photo-1525740664269-1bb17f251737?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHdhdGNoZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 7</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.unsplash.com/photo-1612042850052-22573fcd0bad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 8</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.unsplash.com/photo-1621179082448-b42dc65401c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 9</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Watch">
        <img src="https://images.unsplash.com/photo-1603296928495-4be8645ffa7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Watch 10</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <button type="submit" name="WatchOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Small
                </button>
                <button type="submit" name="WatchOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Medium
                </button>
                <button type="submit" name="WatchOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18;">
                    Large
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
</div>





