@page
@model OuterHeaven.Pages.HatsModel
@{
    ViewData["Title"] = "Hats";
}
<header>
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
</header>

<div class="Main">

<h1>Hats</h1>

<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/3819644/pexels-photo-3819644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 1</h4>
            <p class="ItemDescription">R299.99</p> 
        </div>   
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/14436117/pexels-photo-14436117.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2122844/pexels-photo-2122844.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4421770/pexels-photo-4421770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2464090/pexels-photo-2464090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/5592276/pexels-photo-5592276.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 6</h4>
            <p class="ItemDescription">R350.00</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/7137432/pexels-photo-7137432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 7</h4>
            <p class="ItemDescription">R280.00</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/7431243/pexels-photo-7431243.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 8</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2773511/pexels-photo-2773511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 9</h4>
            <p class="ItemDescription">R330.00</p>
        </div>
</div>
<div class="card" name="Hats" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/5588209/pexels-photo-5588209.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hat 10</h4>
            <p class="ItemDescription">R380.00</p>
        </div>
</div>
</div>





