@page
@model OuterHeaven.Pages.LeggingsModel
@{
    ViewData["Title"] = "Leggings";
}
<header>
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
</header>

   

<div class="Main">
<h1>Leggings</h1>

<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/6443469/pexels-photo-6443469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 1</h4>
            <p class="ItemDescription">R299.99</p> 
        </div>   
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4194632/pexels-photo-4194632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/6453448/pexels-photo-6453448.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/5772128/pexels-photo-5772128.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/6311396/pexels-photo-6311396.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4379316/pexels-photo-4379316.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 6</h4>
            <p class="ItemDescription">R350.00</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/7900295/pexels-photo-7900295.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 7</h4>
            <p class="ItemDescription">R280.00</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/7880184/pexels-photo-7880184.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 8</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/6193559/pexels-photo-6193559.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 9</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Legging" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/3823084/pexels-photo-3823084.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Legging 10</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
</div>





