@page
@model OuterHeaven.Pages.ShopModel
@{
    ViewData["Title"] = "Home";
}
<header>
    <link rel="stylesheet" href="../css/Shop.css" type="text/css" />
    <link rel="stylesheet" href="../css/SaleSlider.css" type="text/css" />
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/Promotions.css" type="text/css" />
</header>

<div class="Main">

     <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                @{
                    if (@ViewData["UserExperience"] == "Male")
                    {
                    <img id="slide-1" src="../Images/Sale Banner Images/Male Experience/Autumn Sale (Default).jpg" alt="Autumn Sale 2023"/>
                    <img id="slide-2" src="../Images/Sale Banner Images/Male Experience/Winter Sale (Default).jpg" alt="Winter Sale 2023"/>
                    <img id="slide-3" src="../Images/Sale Banner Images/Male Experience/Spring Sale (Default).jpg" alt="Spring Sale 2023"/>
                    <img id="slide-4" src="../Images/Sale Banner Images/Male Experience/Summer Sale (Default).jpg" alt="Summer Sale 2023"/>
                    <img id="slide-5" src="../Images/Sale Banner Images/Male Experience/Sale (Default).jpg" alt="Sale 2023"/>
                    }
                    else if (@ViewData["UserExperience"] == "Female")
                    {
                    <img id="slide-1" src="../Images/Sale Banner Images/Female Experience/Autumn Sale (Default).jpg" alt="Autumn Sale 2023"/>
                    <img id="slide-2" src="../Images/Sale Banner Images/Female Experience/Winter Sale (Default).jpg" alt="Winter Sale 2023"/>
                    <img id="slide-3" src="../Images/Sale Banner Images/Female Experience/Spring Sale (Default).jpg" alt="Spring Sale 2023"/>
                    <img id="slide-4" src="../Images/Sale Banner Images/Female Experience/Summer Sale (Default).jpg" alt="Summer Sale 2023"/>
                    <img id="slide-5" src="../Images/Sale Banner Images/Female Experience/Sale (Default).jpg" alt="Sale 2023"/>
                    }
                }
                
            </div>
            <div class="slider-nav">  </div>
        </div>
    </section>

   <h2>On Sale</h2>

   <div class="promotion" name="PromoOne">
        <video autoplay loop>
            <source src="../Video/Male/Promo 1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="promotion" name="PromoTwo">
        <video autoplay loop>
            <source src="../Video/Male/Promo 2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="promotion" name="PromoThree">
        <video autoplay loop>
            <source src="../Video/Male/Promo 3.mp4" type="video/mp4">
        </video>
    </div>
    <div class="promotion" name="PromoFour">
        <video autoplay loop>
            <source src="../Video/Male/Promo 4.mp4" type="video/mp4">
        </video>
    </div>

    <h3>New Arrivals</h3>

    <div class="card" name="Heels">
        <img src="../Images/Default Item Images/Heels (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Heels</h4>
            <p class="ItemDescription">From R299.99</p>
        </div>
    </div>

    <div class="card" name="Sneakers">
        <img src="../Images/Default Item Images/Sneakers (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Sneakers</h4>
            <p class="ItemDescription">From R599.99</p>
        </div>
    </div>

    <div class="card" name="Boots">
        <img src="../Images/Default Item Images/Boots (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boots</h4>
            <p class="ItemDescription">From R399.99</p>
        </div>
    </div>

    <div class="card" name="Shirts">
        <img src="../Images/Default Item Images/Shirts (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Shirts</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Watches">
        <img src="../Images/Default Item Images/Watches (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Watches</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Glasses">
        <img src="../Images/Default Item Images/Glasses (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Glasses</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Perfume">
        <img src="../Images/Default Item Images/Perfume (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Perfume</h4>
            <p class="ItemDescription">From R399.99</p>
        </div>
    </div>

    <div class="card" name="Pants">
        <img src="../Images/Default Item Images/Pants (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Pants</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>

    <div class="card" name="Hats">
        <img src="../Images/Default Item Images/Hats (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hats</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>

    <div class="card" name="Belts">
        <img src="../Images/Default Item Images/Belts (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Belts</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>
</div>
