@page
@model OuterHeaven.Pages.BootsModel 
@{
    ViewData["Title"] = "Boots";
}
<header>
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
</header>
   

<div class="Main">

<h1>Boot's</h1>

<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1070341/pexels-photo-1070341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 1</h4>
            <p class="ItemDescription">R299.99</p> 
        </div>   
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1159670/pexels-photo-1159670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/17158755/pexels-photo-17158755/free-photo-of-woman-standing-on-one-leg-in-studio.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/15581116/pexels-photo-15581116/free-photo-of-woman-in-blue-dress-and-red-boots-sitting-on-grass.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4589223/pexels-photo-4589223.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/5185055/pexels-photo-5185055.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 6</h4>
            <p class="ItemDescription">R350.00</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/14523205/pexels-photo-14523205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 7</h4>
            <p class="ItemDescription">R280.00</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/14759054/pexels-photo-14759054.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 8</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1571505385418-67bd85677abf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2hlbHNlYSUyMGJvb3RzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 9</h4>
            <p class="ItemDescription">R330.00</p>
        </div>
</div>
<div class="card" name="Boots" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1534233812932-59b8fa1b780c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boot 10</h4>
            <p class="ItemDescription">R380.00</p>
        </div>
</div>
</div>





