@page
@model OuterHeaven.Pages.JoggersSweatpantsModel
@{
    ViewData["Title"] = "Joggers & Sweatpants";
}
<header>
   <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
   <link rel="stylesheet" href="../css/CategoryItems.css" type="text/css" />
   <link rel="stylesheet" href="../css/CategoryItemButtons.css" type="text/css" />
   <link rel="stylesheet" href="../css/ItemEffects.css" type="text/css" />
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>



<div class="Main">

<h1>Joggers & Sweatpants</h1>

<div class="card" name="Jogger">
        <img src="https://images.unsplash.com/photo-1552904219-f4b87efe8792?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8am9nZ2Vyc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Jogger 1</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="JoggerSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="JoggerSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>   
</div>
<div class="card" name="Jogger">
        <img src="https://images.unsplash.com/photo-1596172316425-8808e56f2219?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fGpvZ2dlcnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Jogger 2</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="JoggerSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="JoggerSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Jogger">
        <img src="https://images.pexels.com/photos/18393513/pexels-photo-18393513/free-photo-of-young-man-posing-in-black-tank-top-loose-white-pants-and-trainers.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Jogger 3</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="JoggerSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="JoggerSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Jogger">
        <img src="https://images.pexels.com/photos/18393526/pexels-photo-18393526/free-photo-of-young-man-posing-in-white-t-shirt-and-beige-cargo-sweatpants.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Jogger 4</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="JoggerSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="JoggerSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Jogger">
        <img src="https://images.pexels.com/photos/17087321/pexels-photo-17087321/free-photo-of-young-man-in-sportswear-standing-with-hands-in-pockets.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Jogger 5</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="JoggerSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="JoggerSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="JoggerSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="JoggerSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Sweatpants">
        <img src="https://images.pexels.com/photos/7228006/pexels-photo-7228006.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Sweatpant 1</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SweatpantSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SweatpantSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Sweatpants">
        <img src="https://images.pexels.com/photos/10024021/pexels-photo-10024021.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Sweatpant 2</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SweatpantSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SweatpantSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Sweatpants">
        <img src="https://images.pexels.com/photos/13897456/pexels-photo-13897456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Sweatpant 3</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SweatpantSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SweatpantSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Sweatpants">
        <img src="https://images.pexels.com/photos/11063309/pexels-photo-11063309.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Sweatpant 4</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SweatpantSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SweatpantSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Sweatpants">
        <img src="https://images.pexels.com/photos/12027079/pexels-photo-12027079.jpeg?auto=compress&cs=tinysrgb&w=1600"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Sweatpant 5</h4>
        </div>
             <form method="post" enctype="application/x-www-form-urlencoded" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SweatpantSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SweatpantSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SweatpantSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SweatpantSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="application/x-www-form-urlencoded" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
</div>





