@page
@model OuterHeaven.Pages.DressesSkirtsModel
@{
    ViewData["Title"] = "Dresses & Skirts";
}
<header>
    <link rel="stylesheet" href="../css/Items.css" type="text/css" />
    <link rel="stylesheet" href="../css/HeadersAndButtons.css" type="text/css"/>
</header>


<div class="Main">

 <h1>Dresses & Skirts</h1>

<div class="card" name="Dress" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2235071/pexels-photo-2235071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Dress 1</h4>
            <p class="ItemDescription">R299.99</p> 
        </div>   
</div>
<div class="card" name="Dress" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/813279/pexels-photo-813279.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Dress 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Dress" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/3841391/pexels-photo-3841391.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Dress 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Dress" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/13071414/pexels-photo-13071414.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Dress 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Dress" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/17535285/pexels-photo-17535285/free-photo-of-woman-in-dress-standing-among-plants.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Dress 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/833169/pexels-photo-833169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Skirt 1</h4>
            <p class="ItemDescription">R350.00</p>
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1549439/pexels-photo-1549439.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Skirt 2</h4>
            <p class="ItemDescription">R280.00</p>
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1530158/pexels-photo-1530158.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Skirt 3</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1618141782840-40c041c58821?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNraXJ0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Skirt 4</h4>
            <p class="ItemDescription">R330.00</p>
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1534445538923-ab38438550d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHNraXJ0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Skirt 5</h4>
            <p class="ItemDescription">R380.00</p>
        </div>
</div>
</div>





