@page
@model OuterHeaven.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}
<header>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Cart.css" type="text/css"/>
</header>

<div class="Main">

<h1>Cart</h1>

<div class="CartTable">
    <table>
      <thead>
          <th><td class="ItemHeader">Item</td></th>
          <th><td class="QuantityHeader">Quantity</td></th>
          <th><td class="ActionHeader">Action</td></th>
      </thead>
      <tbody>
        <tr class="Item">
          <td>
            <div class="ItemImage">
              <img src="https://images.pexels.com/photos/18731989/pexels-photo-18731989/free-photo-of-the-cover-of-the-album-the-shadow-of-the-moon.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            </div>
          </td>
          <td>
            <div class="ItemDescription" style="position:relative; right: 15%;">
              <h4>Product</h4>
              <p>Price</p>
            </div>
          </td>
          <td>
            <div class="container" style="position:absolute;right: 25%; display: inline;">
              <button type="button" name="Decrease" style="border-radius: 1rem; color: black; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-minus bx-sm' style='color:black'></i>
              </button>
              <input type="number" name="ItemQuantity" min="1" required style="position: absolute; right: 0.5%; border-radius: 0.1rem; width: 3rem;" placeholder="1">
              <button type="button" name="Increase" style="border-radius: 1rem; color: white; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-plus bx-sm' style='color:black'></i>
              </button>
            </div>
          </td>
          <td>
            <div class="RemoveItem" style="position:absolute;right: 5%; display: inline;">
              <button type="button" name="RemoveButton" style="border-radius: 1rem; background-color: #f44336; box-shadow: 1px 1px 1px 1px black; border-color: #f44336;">
                <i class='bx bx-trash bx-sm' style='color: white'></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="Item">
          <td>
            <div class="ItemImage">
              <img src="https://images.pexels.com/photos/3030716/pexels-photo-3030716.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" />
            </div>
          </td>
          <td>
            <div class="ItemDescription" style="position:relative ;right: 15%;">
              <h4>Product</h4>
              <p>Price</p>
            </div>
          </td>
          <td>
            <div class="container" style="position:absolute;right: 25%; display: inline;">
              <button type="button" name="Decrease" style="border-radius: 1rem; color: white; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-minus bx-sm'></i>
              </button>
              <input type="number" name="ItemQuantity" min="1" required style="position: absolute; right: 0.5%; border-radius: 0.1rem; width: 3rem;" placeholder="1">
              <button type="button" name="Increase" style="border-radius: 1rem; color: white; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-plus bx-sm'></i>
              </button>
            </div>
          </td>
          <td>
            <div class="RemoveItem" style="position:absolute;right: 5%; display: inline;">
              <button type="button" name="RemoveButton" style="border-radius: 1rem; background-color: #f44336; box-shadow: 1px 1px 1px 1px black; border-color: #f44336;">
                <i class='bx bx-trash bx-sm' style='color: white'></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="Item">
          <td>
            <div class="ItemImage">
              <img src="https://images.pexels.com/photos/1926768/pexels-photo-1926768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            </div>
          </td>
          <td>
            <div class="ItemDescription" style="position:relative ;right: 15%;">
              <h4>Product</h4>
              <p>Price</p>
            </div>
          </td>
          <td>
            <div class="container" style="position:absolute;right: 25%; display: inline;">
              <button type="button" name="Decrease" style="border-radius: 1rem; color: white; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-minus bx-sm'></i>
              </button>
              <input type="number" name="ItemQuantity" min="1" required style="position: absolute; right: 0.5%; border-radius: 0.1rem; width: 3rem;" placeholder="1">
              <button type="button" name="Increase" style="border-radius: 1rem; color: white; box-shadow: 1px 1px 1px 1px black; border-color: white;">
                <i class='bx bx-plus bx-sm'></i>
              </button>
            </div>
          </td>
          <td>
            <div class="RemoveItem" style="position:absolute;right: 5%; display: inline;">
              <button type="button" name="RemoveButton" style="border-radius: 1rem; background-color: #f44336; box-shadow: 1px 1px 1px 1px black; border-color: #f44336;">
                <i class='bx bx-trash bx-sm' style='color: white'></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="Disclaimer">
          <td>*Prices calculated based on supply vs demand.</td>
        </tr>
      </tfoot>
    </table>

  </div>

  <div class="CartTotals">
    <table>
      <thead>
        <tr>
          <td style="position: absolute; left: 42.5%; top: 2%">Summary</td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td style="position: absolute; left: 5%; top: 15%">Subtotal</td>
            <td style="position: absolute; right: 5%; top: 15%">R0</td>
          </tr>
          <tr>
            <td style="position: absolute; left: 5%; top: 35%">Discount</td>
            <td style="position: absolute; right: 5%; top: 35%">R0</td>
          </tr>
          <tr>
            <td style="position: absolute; left: 5%; top: 55%;">Total</td>
            <td style="position: absolute; right: 5%; top: 55%;">R0</td>
          </tr>
      </tbody>
      <tfoot>
          <tr style="position: absolute; left: 5%; bottom: 20%">
          <td>Discount Coupon:</td>
          <td><input type="type" placeholder="Enter the code" style="border-radius: 1rem;"/></td>
          <form class="CartCheckout" enctype="multipart/form-data" method="post">
          <button type="button" name="CheckoutButton" style="position: absolute; right: 38%; bottom: 5%; 
          background-color: black; border-color: black; border-radius: 1rem; column-width: 2rem; color: white;">
                Checkout <i class='bx bx-right-arrow-alt' style='color: white; display: inline;'></i>
          </button>
          </form>
          </tr>
      </tfoot>
    </table>

 
  </div>

  
</div>





