@page
@model OuterHeaven.Pages.PaymentModel
@{
    ViewData["Title"] = "Payments";
}
<header>
    <link rel="stylesheet" href="~/css/Payments.css" type="text/css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>

<div class="Main">

<div class="Payments">
        <header class="header">
          <h1>Checkout</h1>
        </header>
      
        <form method="MakePayment" class="PaymentDetails" method="post" enctype="multipart/form-data">
          <div>

           <div class="Delivery">
              <div>
                <input type="radio" name="DeliveryOption"/>
                <label style="color: black;"><i class='bx bxs-truck' style="color: black;"></i>Delivery</label>
              </div>
            </div>

           <div class="PickUp">
              <div>
                <input type="radio" name="PickUpOption"/>
                <label style="color: black;"><i class='bx bx-buildings' style="color: black;"></i>Pickup</label>
              </div>
            </div>

            <div class="FirstName">
              <h2>First Name</h2>
              <div>
                <input type="text" name="ClientFirstName" placeholder="Enter your name"/>
              </div>
            </div>

            <div class="Surname">
              <h2>Last Name</h2>
              <div>
                <input type="text" name="ClientSurname" placeholder="Enter your surname"/>
              </div>
            </div>

            <div class="Country">
              <h2>Country</h2>
              <div>
                <input type="text" name="DeliveryCountry" placeholder="Enter your country" style="width: 12.5rem;"/>
              </div>
            </div>

            <div class="Province">
              <h2>Province</h2>
              <div>
                <input type="text" name="DeliveryProvince" placeholder="Enter your province"/>
              </div>
            </div>

            <div class="Address">
              <h2>Address</h2>
              <div>
                <input type="text" name="DeliveryAddress" placeholder="Enter your address" style="width: 20rem;"/>
              </div>
            </div>

            <div class="PostalCode">
              <h2>Postal Code</h2>
              <div>
               <input type="text" name="PostID" style="width: 6rem;"/>
              </div>
            </div>

            <div class="UserDetailsSummary" style="border-top: 1 px solid black; font-weight: 600;">
            <hr />
            </div>
          </div>
        </form>
  </div>  
</div>

<div class="PaymentMethodDetails">
      
      <fieldset style="border: 0; margin: 0; padding: 0;">
        <header class="header">
            <h3>Payment Method</h3>
        </header>  
            <div class="PaymentMethods">
              <div class="PaymentMethod">
                <label class="visa" style="color: black;"><i class='bx bxl-visa' style="color: black;"></i>Visa Payment</label>
                <input id="visa" name="payment-method" type="radio"/>
              </div>
      
              <div class="PaymentMethod">
                <label class="paypal" style="color: black;"><i class='bx bxl-paypal' style="color: black;"></i>PayPal</label>
                <input id="paypal" name="payment-method" type="radio"/>
              </div>
      
              <div class="PaymentMethod">
                <label class="mastercard" style="color: black;"><i class='bx bxl-mastercard' style="color: black;"></i>Master Card</label>
                <input id="mastercard" name="payment-method" type="radio"/>
              </div>

              <div class="PaymentMethod">
                <label class="apple-pay" style="color: black;"><i class='bx bxl-apple'></i>Apple Pay</label>
                <input id="apple-pay" name="payment-method" type="radio"/>
              </div>
            </div>
      </fieldset>

      <form class="CardDetails" method="post" enctype="multipart/form-data">
      <div class="CNumber">
        <label>Card Number</label>
        <br/>
        <input type="text" name="CardNumber" placeholder="Card Number" required min="16" max="16" style="width: 30rem;"/>
        <br/>
      </div>
      <div class="CExpiryDate">
        <label>Expiry Date</label>
        <br/>
        <input type="text" name="CardExpiryDate" placeholder="MM/DD" required min="4" max="4"/>
      </div>
      <div class="CSecretNumber">
        <label>CVC</label>
        <br/>
        <input type="text" name="CardNumberSecretNumber" placeholder="CVC" required min="3" max="3"/>
      </div>
      </form>

          <div>
            <button class="button button--full" type="submit">
                <i class='bx bx-shopping-bag' style="color: white;"></i>Buy Now
            </button>
          </div>

</div>

</div>






