@page
@model OuterHeaven.Pages.CoatsHoodiesModel
@{
    ViewData["Title"] = " Coats & Hoodies";
}
<header>
   <link rel="stylesheet" href="~/css/HeadersAndButtons.css" type="text/css"/>
   <link rel="stylesheet" href="~/css/CategoryItems.css" type="text/css" />
   <link rel="stylesheet" href="~/css/CategoryItemButtons.css" type="text/css" />
   <link rel="stylesheet" href="~/css/ItemEffects.css" type="text/css" />
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>



<div class="Main">

<h1>Coats & Hoodies</h1>

<div class="card" name="Hoodie" >
        <img src="https://images.unsplash.com/photo-1561151593-7059b6b4ff57?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Hoodie 1</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="HoodieSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="HoodieSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Hoodie">
        <img src="https://images.unsplash.com/photo-1573915160406-cf83c1cc8885?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Hoodie 2</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                 <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="HoodieSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="HoodieSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Hoodie">
        <img src="https://images.unsplash.com/photo-1572986339313-6fb01aa14717?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Hoodie 3</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                 <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="HoodieSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="HoodieSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Hoodie">
        <img src="https://images.unsplash.com/photo-1639379789831-bbd53e09408d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Hoodie 4</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                 <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="HoodieSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="HoodieSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Hoodie">
        <img src="https://images.unsplash.com/photo-1506451854428-e72f199b79db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Hoodie 5</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                 <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="HoodieSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="HoodieSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="HoodieSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="HoodieSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Coat">
        <img src="https://images.unsplash.com/photo-1619623047679-e824cd5399d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1963&q=80"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Coat 1</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="CoatSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="CoatSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Coat">
        <img src="https://images.unsplash.com/photo-1622866651408-f373152f173b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fGNvYXQlMjBtZW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Coat 2</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                 <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="CoatSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="CoatSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Coat">
        <img src="https://images.unsplash.com/photo-1687671767135-8858f2590d96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjQ2fHxjb2F0JTIwbWVufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Coat 3</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="CoatSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="CoatSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Coat">
        <img src="https://images.pexels.com/photos/2245433/pexels-photo-2245433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Coat 4</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="CoatSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="CoatSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>
<div class="card" name="Coat">
        <img src="https://images.pexels.com/photos/10132903/pexels-photo-10132903.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Coat 5</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="CoatSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="CoatSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="CoatSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="CoatSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>
        </div>
</div>



</div>





