@page
@model OuterHeaven.Pages.DressesSkirtsModel
@{
    ViewData["Title"] = "Dresses & Skirts";
}
<header>
   <link rel="stylesheet" href="~/css/HeadersAndButtons.css" type="text/css"/>
   <link rel="stylesheet" href="~/css/CategoryItems.css" type="text/css" />
   <link rel="stylesheet" href="~/css/CategoryItemButtons.css" type="text/css" />
   <link rel="stylesheet" href="~/css/ItemEffects.css" type="text/css" />
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</header>


<div class="Main">

 <h1>Dresses & Skirts</h1>

<div class="card" name="Dress">
        <img src="https://images.pexels.com/photos/2235071/pexels-photo-2235071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Dress 1</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="DressSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="DressSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>   
</div>
<div class="card" name="Dress">
        <img src="https://images.pexels.com/photos/813279/pexels-photo-813279.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Dress 2</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="DressSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="DressSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Dress">
        <img src="https://images.pexels.com/photos/3841391/pexels-photo-3841391.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Dress 3</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="DressSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="DressSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Dress">
        <img src="https://images.pexels.com/photos/13071414/pexels-photo-13071414.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Dress 4</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="DressSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="DressSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Dress">
        <img src="https://images.pexels.com/photos/17535285/pexels-photo-17535285/free-photo-of-woman-in-dress-standing-among-plants.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Dress 5</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="DressSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="DressSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="DressSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="DressSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/833169/pexels-photo-833169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Skirt 1</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SkirtSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SkirtSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1549439/pexels-photo-1549439.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Skirt 2</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SkirtSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SkirtSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/1530158/pexels-photo-1530158.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Skirt 3</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SkirtSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SkirtSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1618141782840-40c041c58821?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNraXJ0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Skirt 4</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SkirtSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SkirtSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
<div class="card" name="Skirt" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1534445538923-ab38438550d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHNraXJ0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"/>
        <div class="container" name="ItemDescription">
        <div class="ItemName">
            <h4>Skirt 5</h4>
        </div>
             <form method="post" enctype="multipart/form-data" name="ItemOptions" class="ItemOptions">
                <label>Select Size</label>
                <br/>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XS
                </button>
                <button type="submit" name="SkirtSizeOptionOne" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   S
                </button>
                <button type="submit" name="SkirtSizeOptionTwo" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   M
                </button>
                <br/>
                <button type="submit" name="SkirtSizeOptionThree" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   L
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XL
                </button>
                <button type="submit" name="SkirtSizeOptionFour" required style="background-color: white; border-color: black; border-width: 0.2rem; size: 18; width: 4rem;">
                   XXL
                </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemAvailability" class="ItemAvailability">
              <button type="submit" name="SeeDetails" required size="24" placeholder="Share" style="background-color: black; color: white;">
                   <i class='bx bxs-share-alt'></i> Share
              </button>
              <button type="submit" name="CheckAvailability" size="24" placeholder="Check Availability" style="background-color: black; border-color: white; color:white;"> 
                   <i class='bx bx-store-alt'></i> Check Stock
              </button>
            </form>
            <form method="post" enctype="multipart/form-data" name="ItemConfimations" class="ItemConfimations">
                <button type="submit" name="SeeDetails" required size="24" placeholder="Wishlist" style="background-color: orange; color: white;">
                    <i class='bx bx-purchase-tag-alt'></i> Wishlist
                </button>
                <button type="submit" name="AddToCard" required size="24" placeholder="Add To Cart" style="background-color: crimson; color: white;">
                    <i class='bx bx-cart-add'></i> Add To Cart
                </button>
            </form>
            <div class="ItemPrice">
                <h5>R299.99</h5>
            </div>  
        </div>
</div>
</div>





