body {
    background: #000;
}
.Summary{
    width:80%;
}
.PaymentMethods {
    width: 75%;
}
h1 {
    color: #FFF;
    font-family: Porter Sans Block;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
}
form {
    width: 50%;
    border-radius: 50px;
    background: #ffffff;
    right: 20%;
    text-align:left;
}
table {
    width: 100%;
    border-radius: 2rem;
    background: #ffffff;
    left: 20%;
    aspect-ratio: 16/9;
}
hr{
    box-shadow: 2px 2px 2px 2px grey;
}

/*table th{
     background: #ffffff;
     border-block-color: #000000;
}*/
table thead{
     background: #ffffff;
     border-block-color: #000000;
}
table tbody{
    background: #ffffff;
    border-block-color: #000000;
}
table tr {
    width: 15rem;
    border-radius: 25px;
    background: #ffffff;
  
}
input {
    font-family: Porter Sans Block;
    color: black;
    font-size: 1rem;
    background-color: white;
    border-radius: 12px;
    border-color: transparent;
}
