
@font-face {
    font-family: "Porter Sans Block";
    src: local("Porter Sans Block");
    src: url("../Font's/porter-sans-inline-block.otf") format("opentype");
    font-size: xx-large;
}

h1{
    color: #FFF;
    font-family: Porter Sans Block;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
}
button{
    border-radius: 1rem;
}

