.Main {
    width: 100%;
    position: relative;

}
.LandingImage{
    position: absolute;
    left: 0%;
    width: 25%;
    height: 50%;
    top: 12.5%;
}
h1{
    color: #FFF;
    font-family: Porter Sans Block;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
}
button{

    border-radius: 2rem;
}
