<<<<<<< Updated upstream
﻿body {
    background: #000;
}
h1 {
    color: #FFF;
    font-family: Porter Sans Block;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
}
=======
﻿body {
    background: #000;
}
h1 {
    color: #FFF;
    font-family: Porter Sans Block;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
}
>>>>>>> Stashed changes
