body {
    background: #000;
}
/*Headers*/
.header {
    display: flex;
    justify-content: center;
    padding-block: 0.5em;
    padding-inline: 1em;
}
h1 {
    font-size: 1rem;
    line-height: 1.2;
    margin-block: 0 1.5em;
    color: black;
}
  
h2 {
    font-size: 1rem;
    line-height: 3;
    margin-block: 0 0.5em;
    color: black;
}
h3{
    font-size: 1rem;
    line-height: 1.2;
    margin-block: 0 0.5em;
    color: black;
}
/*Buttons*/
input[type="radio"] {
    accent-color: black;
}
input[type="text"]{
    border-radius: 1rem; 
    font-style: normal; 
    text-align: center;
}

.button{
    align-items: center;
    background-color: black;
    border-radius: 1rem;
    color:white;
    width: 3rem;
    height: 3rem;
    justify-content: center;

    position: absolute;
    bottom: 5%;
    left: 27.5%;
    
}
.button--full{
    inline-size: 50%;
}
.payment-method{
    border: 0;
    color: inherit;
    font: inherit;
}
/*Button Effects*/
.button:focus, .button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}
/*Payments*/
.PaymentMethod {
    align-items: center;
    background-color: #fefdfe;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    display: flex;
    padding: 1em;
}
.PaymentMethod label {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1em;
}
.Payments{
    background-color: white;
    background-image: linear-gradient(to bottom, white, white);
    border-radius: 2rem;
    width: 45rem;
    height: 35rem;
    overflow: auto;
    padding: 2em;

    position: absolute;
    left: 15%;
    bottom: 29%;
}
.PaymentMethodDetails{
    background-color: white;
    background-image: linear-gradient(to bottom, white, white);
    border-radius: 2rem;
    width: 45rem;
    height: 45rem;
    overflow: auto;
    padding: 2em;

    position: absolute;
    right: 7.5%;
    bottom: 12.5%;
}
/*Forms*/
.PaymentDetails {
    border-radius: 1em;
    background-color: var(--color-primary);
    color: #fff;
    padding: 1em;
}
.PaymentMethods {
    display: grid;
    gap: 1em;
}
/*Form Inputs*/
.Delivery, .PickUp{
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
}
.FirstName, .Surname{
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
}
.Country, .Province{
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
}
.Address, .PostalCode{
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
}

.CardDetails{
    display: inline-block;

    position: absolute;
    bottom: 25%;
    left: 15%;

}
.CNumber{
    line-height: 40px;
}
.CExpiryDate, .CSecretNumber{
    display: inline-block;
    margin-right: 3rem;
    margin-left: 0.1rem;

    line-height: 2rem;
}