/* Main Container that hold the sale slider*/
.container{
    height: 100%;
    width: 100%;
    left: 40%;
    
}
/* Encapsulates the slider */
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  
}
/* Creates the slider properties(Styles, layout etc.) */
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 1rem;
    height: 100%;
    width: 100%;  
    overflow: hidden;
}
/* Creates the slider properties(Styles, layout etc.) */
.slider img{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: start;
    object-fit:cover;

    object-position: 45% 35%;

    animation-name: swapimage;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-direction:normal;
    animation-play-state: running;

}
/* Creates the slider navigation bar properties(Styles, layout etc.) */
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: relative;

    bottom: 1.25rem;
    left: 95%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav p{
    display: flex;
    column-gap: 1rem;
    position: relative;

    bottom: 1.25rem;
    left: 0%;
    transform: translate(50%);
    z-index: 2;

    font-size: 1rem;
    font-family: Porter Sans Block;
    color: white;

    animation-name: highlightactivesale;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-direction:normal;
    animation-play-state: running;

    background-color: black;
}

/*Effects*/
@keyframes highlightactivesale{
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(100%);
    }
  
}

@keyframes swapimage {
    0%{
        transform: translateX(-400%);
    }
    25%{
        transform: translateX(-300%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
  }
  