@page
@model OuterHeaven.Pages.BadanasModel
@{
    ViewData["Title"] = "Badana's";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>

<div class="Main">

</div>





