<<<<<<< Updated upstream
﻿@page
@model OuterHeaven.Pages.ChainsModel
@{
    ViewData["Title"] = "Chain's";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>

<div class="Main">

</div>





=======
﻿@page
@model OuterHeaven.Pages.ChainsModel
@{
    ViewData["Title"] = "Chain's";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
    <link rel="stylesheet" href="./css/Chains.css" type="text/css" />
</header>

<div class="Main">

<h1>Necklace's</h1>

<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/9428777/pexels-photo-9428777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 1</h4>
            <p class="ItemDescription">R800.00</p>   
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/11203732/pexels-photo-11203732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 2</h4>
            <p class="ItemDescription">R250.00</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/7981566/pexels-photo-7981566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 3</h4>
            <p class="ItemDescription">R349.99</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/12231892/pexels-photo-12231892.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/10983785/pexels-photo-10983785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 5</h4>
            <p class="ItemDescription">R730.00</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/3998910/pexels-photo-3998910.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 6</h4>
            <p class="ItemDescription">1399.00</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/13204122/pexels-photo-13204122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 7</h4>
            <p class="ItemDescription">R140.00</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/12185015/pexels-photo-12185015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 8</h4>
            <p class="ItemDescription">R50.00</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/16124711/pexels-photo-16124711/free-photo-of-a-necklace-with-a-dog-head-on-a-black-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 9</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Chains" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/10662887/pexels-photo-10662887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Necklace 10</h4>
            <p class="ItemDescription">R560.00</p>
        </div>
</div>
</div>





>>>>>>> Stashed changes
