@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <link rel="stylesheet" href="./css/Index.css" type="text/css" />
</header>

<div class="LandingImageZero">
    <img src="./Images/HomeImage(Alphabet).jpg" />
</div>
<div class="LandingImageOne">
    <img src="./Images/HomeImage(FemaleMale).jpg" />
</div>
<div class="LandingImageTwo">
    <img src="./Images/HomeImage(Male).jpg" />
</div>
<div class="LandingImageThree">
    <img src="./Images/HomeImage(Female).jpg" />
</div>


   

<div class="Main">
     <h1>Outer Heaven</h1>

     <h2>Select your<br />experience</h2>
     
     <form method="post" enctype="multipart/form-data">
     <input type="submit" name="MaleExperienceButton" value="Male" />
     <br />
     <input type="submit" name="FemaleExperienceButton" value="Female" />
     <br />
     </form>
</div>





