@page
@model OuterHeaven.Pages.JacketModel
@{
    ViewData["Title"] = "Jackets";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
    <link rel="stylesheet" href="./css/LandingImages.css" type="text/css" />
    <link rel="stylesheet" href="./css/Jackets.css" type="text/css" />
</header>


<div class="Main">

<h1>Jackets</h1>

<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/157675/fashion-men-s-individuality-black-and-white-157675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 1</h4>
            <p class="ItemDescription">R299.99</p>   
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1611485988300-b7530defb8e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 2</h4>
            <p class="ItemDescription">R349.00</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1619603364904-c0498317e145?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 3</h4>
            <p class="ItemDescription">R399.99</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1585820122150-3a0909e77e20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 4</h4>
            <p class="ItemDescription">R449.99</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.unsplash.com/photo-1510291737980-a2b4f55d7bad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTJ8fGNvYXQlMjBtYWxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 5</h4>
            <p class="ItemDescription">R499.99</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/3206118/pexels-photo-3206118.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 6</h4>
            <p class="ItemDescription">R350.00</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/10040216/pexels-photo-10040216.jpeg?auto=compress&cs=tinysrgb&w=1600" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 7</h4>
            <p class="ItemDescription">R280.00</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4947849/pexels-photo-4947849.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 8</h4>
            <p class="ItemDescription">R500</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/2706265/pexels-photo-2706265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 9</h4>
            <p class="ItemDescription">R330.00</p>
        </div>
</div>
<div class="card" name="Jacket" style="height: 26rem;">
        <img src="https://images.pexels.com/photos/4947748/pexels-photo-4947748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 20rem;"/>
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Jacket 10</h4>
            <p class="ItemDescription">R380.00</p>
        </div>
</div>



</div>

<div class="Filters" >


</div>





