<<<<<<< Updated upstream
﻿@page
@model OuterHeaven.Pages.JoggersSweatpantsModel
@{
    ViewData["Title"] = "Joggers & Sweatpants";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>



<div class="Main">

</div>





=======
﻿@page
@model OuterHeaven.Pages.JoggersSweatpantsModel
@{
    ViewData["Title"] = "Joggers & Sweatpants";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>



<div class="Main">

</div>





>>>>>>> Stashed changes
