@page
@model OuterHeaven.Pages.LeggingsModel
@{
    ViewData["Title"] = "Leggings";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>

   

<div class="Main">

</div>





