@page
@model OuterHeaven.Pages.LoginModel
@{

<body>
    
<div id="app" style="display: flex; position: absolute; left: 45%; top: 35%; bottom: 10%;">
   
</div>

    
  <vs-input icon-no-border icon="account_circle" label-placeholder="Username"/>
</body>
}
