@page
@model OuterHeaven.Pages.ShirtsModel
@{
    ViewData["Title"] = "Shirts";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>

 

<div class="Main">

</div>





