@page
@model OuterHeaven.Pages.ShopModel
@{
}

<header>
    <link rel="stylesheet" href="./css/Shop.css" type="text/css" />
    
    <div class="hero">
        <img src="./Images/Sale Banner Images/Jacket Sale (Male 1).jpg" />
        <p>(PlaceHolder Sale)</p>
    </div>
</header>

<div class="Main">
    <h3>New & In-Stock</h3>

    <div class="card" name="Heels">
        <img src="./Images/Default Item Images/Heels (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Heels</h4>
            <p class="ItemDescription">From R299.99</p>
        </div>
    </div>

    <div class="card" name="Sneakers">
        <img src="./Images/Default Item Images/Sneakers (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Sneakers</h4>
            <p class="ItemDescription">From R599.99</p>
        </div>
    </div>

    <div class="card" name="Boots">
        <img src="./Images/Default Item Images/Boots (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Boots</h4>
            <p class="ItemDescription">From R399.99</p>
        </div>
    </div>

    <div class="card" name="Shirts">
        <img src="./Images/Default Item Images/Shirts (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Shirts</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Watches">
        <img src="./Images/Default Item Images/Watches (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Watches</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Glasses">
        <img src="./Images/Default Item Images/Glasses (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Glasses</h4>
            <p class="ItemDescription">From R99.99</p>
        </div>
    </div>

    <div class="card" name="Perfume">
        <img src="./Images/Default Item Images/Perfume (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Perfume</h4>
            <p class="ItemDescription">From R399.99</p>
        </div>
    </div>

    <div class="card" name="Pants">
        <img src="./Images/Default Item Images/Pants (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Pants</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>

    <div class="card" name="Hats">
        <img src="./Images/Default Item Images/Hats (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Hats</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>

    <div class="card" name="Belts">
        <img src="./Images/Default Item Images/Belts (Default).jpg" />
        <div class="container" name="ItemDescription">
            <h4 class="ItemName">Belts</h4>
            <p class="ItemDescription">From R199.99</p>
        </div>
    </div>
</div>
