@page
@model OuterHeaven.Pages.SneakersModel
@{
    ViewData["Title"] = "Sneakers";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>
   

<div class="Main">

</div>





