@page
@model OuterHeaven.Pages.WatchesModel
@{
    ViewData["Title"] = "Watches";
}
<header>
    <link rel="stylesheet" href="./css/Items.css" type="text/css" />
</header>

<div class="Main">

</div>





